body {
  margin: 0 auto;
  font-size: 12px;
  max-width: 1000px;
}
header {
  padding: 2em;
  text-align: center;
}
header h1 {
  font-size: 2.5em;
}
.note {
  padding: 1em;
  border: dotted 1px #ccc;
  color: #777;
  background-color: #ffffee;
}
.toc {
  padding: 2em 3em;
  border: dotted 2px #555;
  border-radius: 10px;
  display: inline-block;
}
.toc a {
  color: #0055aa;
  text-decoration: none;
}

/* 目次をレスポンシブ化するスタイル */
.hamburger {
  display: none;
}
@media screen and (max-width: 1000px) {
  body {
    padding-inline: 16px;
  }
  .hamburger {
    display: initial;
  }
  .hamburger-menu {
    display: none;
    position: fixed;
    background: #fff;
    top: -10px;
    right: 10px;
  }
  .hamburger-menu.active {
    display: block;
  }
  .hamburger {
    position: fixed;
    right: 13px;
    top: 12px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
    z-index: 1;
    background: #fff;
    border: none;
  }
  .hamburger span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 6px;
    background: #555;
  }
  .hamburger span:nth-child(1) {
    top: 10px;
  }
  .hamburger span:nth-child(2) {
    top: 20px;
  }
  .hamburger span:nth-child(3) {
    top: 30px;
  }
  .hamburger.active span:nth-child(1) {
    top: 16px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3) {
    top: 16px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
